<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @payment_record.name %>
</p>

<p>
  <strong>Money:</strong>
  <%= @payment_record.money %>
</p>

<%= link_to 'Edit', edit_payment_record_path(@payment_record) %> |
<%= link_to 'Back', payment_records_path %>
